/* sign-in */
.form-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sign-in-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}
.sign-in-images {
  display: flex;
  justify-content: end;
  padding: 40px;
}

.sign-in-images img {
  width: 400px;
  height: 400px;
}

/* sign-up */
.form-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sign-up-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.sign-up-images {
  position: relative;
  bottom: 0;
  display: flex;
  /* justify-content: end; */
  padding: 40px;
}

.sign-up-images img {
  right: 30px;
  bottom: 130px;
  position: absolute;
  width: 400px;
  height: 400px;
}

/* Admin */
/* Table */
.form-table {
  background-color: #fff;
  padding: 40px 0;
}
.icon-actions {
  display: flex;
  line-height: 40px;
}
.icon-actions > span {
  text-align: center;
  font-size: 24px;
  margin-right: 64px;
}

.icon-action {
  border-left: 1px solid #ddd;
  height: auto;
  display: flex;
  align-items: center;
}
.icon-action {
  font-size: 20px;
  padding-left: 36px;
  cursor: pointer;
  opacity: 0.5;
}
.icon-action > span {
  margin-right: 24px;
}
