/* sign-in */
.form-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sign-in-content,
.sign-up-content {
  border: 2px solid rbga(255, 255, 255, 0.5);
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
}

/* sign-up */
.form-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Admin */
/* Table */
.form-table {
  background-color: #fff;
  padding: 40px 0;
}
.icon-actions {
  display: flex;
  line-height: 40px;
}
.icon-actions > span {
  text-align: center;
  font-size: 24px;
  margin-right: 64px;
}

.icon-action {
  border-left: 1px solid #ddd;
  height: auto;
  display: flex;
  align-items: center;
}
.icon-action {
  font-size: 20px;
  padding-left: 36px;
  cursor: pointer;
  opacity: 0.5;
}
.icon-action > span {
  margin-right: 24px;
}
