.App {
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 50px;
}

.table-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
span:hover {
  cursor: pointer;
}
