.App {
  justify-content: center;
  display: flex;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 1440px;
  height: auto;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.table-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
span:hover {
  cursor: pointer;
}
.header-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.button-actions {
  display: flex;
  gap: 12px;
}
/*  */

.photo-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.photo-details-content {
  display: grid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}
/* Đặt màu nền cho Sider */
.ant-layout-sider {
  background: #001529;
}

/* Logo */
.logo-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  margin-bottom: 16px;
  margin-top: 16px;
  background: #001529;
}

/* Ảnh logo */
.logo-vertical img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  background-color: #001529;
}

/* Menu */
.ant-menu {
  background: #001529;
}
